    <script type="text/javascript" charset="utf-8">
      // Definición del modelo
      var Entry1 = Backbone.Model.extend({
        urlRoot: "{% url 'backbone:entries_entry1_detail' id %}" // Traer un objecto del Modelo
      });

      var oneEntry = new Entry1();

      var DetailEntry = Backbone.View.extend({
        el: '#app',

        initialize: function(){
          oneEntry.on('change', this.seeEntry);
          oneEntry.fetch();
        },

        seeEntry: function(modelo) {
          var view = new SeeEntryView({model:modelo});

          // Invoca el metodo render de SeeEntriesView para ver los cambios en el template
          $('.entry').append(view.render().$el);
        },

      });

      // Vista para mostrar en el template
      var SeeEntryView = Backbone.View.extend({
        template: _.template( $('#detailEntry').html() ),

        // Con esta funcion coloco los datos en el elemento tplSeeEntries del template
        render: function(){
          this.$el.html( this.template(this.model.toJSON()) );
          return this;
        }
      });

      var entryView = new DetailEntry();

    </script>